// 引入抽象層
@use "../base/variables" as v;
@use "../base/mixins" as m;

/* --- 綁定按鈕網格 --- */
.bind-grid {
  display: grid;
  gap: m.space(1.5);
  @include m.media-query("md") {
    grid-template-columns: 1fr 1fr;
    gap: m.space(2);
  }
}
