// 引入抽象層
@use "../base/variables" as v;
@use "../base/mixins" as m;

.home-content-block {
  margin: auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  @include m.media-query("lg") {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 40px;
  }
  .content {
    width: 100%;
    .btn-wrap {
      margin-top: m.space(3);
      display: grid;
      gap: 16px;
    }
  }
}
