// Invoice setup page styles
@use '../base/variables' as v;
@use '../base/mixins' as m;
.page-invoice-setup {
    .content-block {
        max-width: 880px;
        margin: 0 auto;
        .invoice-form {
            display: flex;
            flex-direction: column;
            gap: m.space(2);
        }
    }
}