// Invoice setup page styles
@use "../base/variables" as v;
@use "../base/mixins" as m;
.invoice-content-block {
  .content {
    display: grid;
    gap: 24px;
    .otp-timer {
      color: v.$color-text-disabled;
    }
    .btn-wrap {
      display: flex;
      flex-direction: column-reverse;
      gap: 16px;
      justify-content: center;
      @include m.media-query("lg") {
        display: grid;
        grid-template-columns: min-content max-content;
      }
    }
  }
}
.popup {
  .content-block {
    .text-wrap {
      ul {
        list-style: disc;
        padding-left: 2em;
      }
    }
    .btn-wrap {
      align-items: center;
    }
  }
}
