// 引入抽象層
@use "../base/variables" as v;
@use "../base/mixins" as m;

.login-content-block {
  margin: auto;
  .content {
    width: 100%;
    display: grid;
    gap: m.space(3);
    justify-items: center;
    h2 {
      margin: 0;
      text-align: center;
    }
  }
}

/* --- 同意條款區塊 --- */
.login-agree {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
  &__error {
    color: v.$color-danger;
    font-size: 1.3rem;
    margin: m.space(0.5) 0 0;
    @include m.media-query("lg") {
      font-size: 1.5rem;
    }
  }
}

/* --- 社群登入區塊 --- */
.login-social,
.btn-text-card {
  width: 100%;
}
.login-social {
  text-align: center;
  &__divider {
    display: flex;
    align-items: center;
    gap: m.space(2);
    color: v.$color-text-secondary;
    font-size: 1.3rem;
    margin-bottom: m.space(2);
    @include m.media-query("lg") {
      font-size: 1.5rem;
    }
    &::before,
    &::after {
      content: "";
      flex: 1;
      height: 1px;
      background-color: v.$color-surface-primary-dark;
    }
    span {
      white-space: nowrap;
    }
  }
  &__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: m.space(2);
  }
}

/* --- 遊客登入提醒 popup --- */
#guest-popup {
  .content-block {
    .text-wrap {
      p {
        text-align: center;
      }
    }
  }
}
